@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;900&display=swap');

@font-face {
  font-family: Martin;
  font-style: normal;
  font-weight: normal;
  src: url('../fonts/martin.ttf') format('truetype');
}

:root {
  --alive: #0D74E7;
  --background: #2B3137;
  --dark: #24292D;
  --debug-on: #3FB950;
  --debug-off: #F85149;
  --font-size: 14px;
}

body {
  align-items: center;
  background-color: var(--background);
  display: flex;
  height: 100vh;
  justify-content: center;
  margin: 0;
  text-align: center;
  user-select: none;
}

#menu {
  margin: 0 20px;
  max-width: 200px;
  min-width: 200px;
}
button {
  background-color: var(--dark);
  border: solid 2px var(--alive);
  border-radius: 21px;
  color: white;
  cursor: pointer;
  font-family: Orbitron;
  font-size: var(--font-size);
  font-weight: bold;
  height: 42px;
  margin: 10px 0;
  padding: 10px;
  transition: 0.5s;
  width: 100%;
}
button:hover {
  filter: contrast(80%);
  scale: 105%;
}
#debug.on {
  border-color: var(--debug-on);
}
#debug:not(.on) {
  border-color: var(--debug-off);
}
.container {
  align-items: center;
  background-color: var(--dark);
  border: solid 2px var(--alive);
  border-radius: 21px;
  display: flex;
  height: 38px;
  margin: 10px 0;
  padding: 0 20px;
}
.container p {
  color: white;
  font-family: Martin;
  font-size: var(--font-size);
  font-weight: bold;
  margin: auto;
}
input {
  accent-color: var(--alive);
  appearance: none;
  cursor: grab;
  height: 4px;
  border-radius: 2px;
  margin-right: 10px;
  width: 100%;
}
span {
  background-color: var(--alive);
  border-radius: 15px;
  color: white;
  font-family: Martin;
  font-size: var(--font-size);
  font-weight: bold;
  padding: 4px;
  text-align: center;
  width: 40px;
}

table,
td {
  border: solid 2px var(--dark);
  border-collapse: collapse;
}
table {
  height: 100vw;
  margin-right: 20px;
  max-height: 100%;
  max-width: 100%;
  width: 100vh;
}
td {
  color: white;
  cursor: pointer;
  font-family: Martin;
  text-align: center;
}
td:not(.alive) {
  background-color: var(--background);
}
td.alive {
  background-color: var(--alive);
  /* transition: 0.1s; */
}
td.food {
  background-attachment: local;
  background-image: url('../images/food.png');
  background-position: center;
  background-size: cover;
}
